# python specific
env*
*.pyc
*.so
*.pyd
build/*
dist/*
.eggs/*
MANIFEST
__pycache__/
*.egg-info/
.coverage
htmlcov
.pytest_cache/

# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
.idea/

.tox/
deps/
docs/_build/
